#dropdown {
  position: relative;
  z-index: 999;
}

#dropdown .menu-dropdown {
  display: flex;
  position: absolute;
  background-color: var(--primary);
  background-repeat: repeat;
  cursor: pointer;

  padding: 2px;
  border-radius: 4px;

  gap: 4px;
}


#dropdown .menu-dropdown a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  padding: 4px;

  border-radius: 4px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  gap: 4px;
  color: var(--senary);
}

#dropdown .menu-dropdown a:hover {
  color: var(--gray);
}

#dropdown .menu-dropdown {
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 0 2px rgba(0, 0, 0, 0.24);
}
