#formTextArea {
  width: 100%;
  display: flex;

  flex-direction: column;
}

#formTextArea label {
  width: 100%;
  font-weight: 500;
  color: var(--senary);
}

#formTextArea span {
  color: var(--error)
}

#formTextArea textarea {
	background-color: var(--input);
  border: 2px solid rgba(var(--form), .1);
	border-radius: 6px;
	padding: 12px 15px;
	margin: 8px 0;
  width: 100%;
  
  font-size: 14px;
  color: var(--gray);
  font-weight: bold;
  letter-spacing: 0.09857em;
  resize: none;

  text-transform: capitalize;
}

#formTextArea textarea:focus {
  border: 2px solid rgba(var(--form-hover), .55);
}


#formTextArea textarea:read-only {
  background-color: transparent;
  color: var(--gray);
  font-weight: bold;

  letter-spacing: 0.09857em;
}