#formInput {
  width: 100%;
  display: flex;

  flex-direction: column;
}

#formInput label {
  width: 100%;
  font-family: Whitney;
  font-size: 12px;
  line-height: 16px;

  color: var(--channels-default);
  letter-spacing: normal;
  
  font-weight: 600;
  text-transform: uppercase;
}

#formInput span {
  color: var(--error);
  font-size: 12px;
  margin: 0 4px;
}

#formInput input {
	background-color: var(--input);
  border: 2px solid rgba(var(--form), .1);
	border-radius: 6px;
	padding: 12px 15px;
	margin: 2px 0;
  width: 100%;
  
  font-size: 14px;
  color: var(--gray);
  font-weight: bold;
  letter-spacing: 0.09857em;
}

#formInput input:focus {
  border: 2px solid rgba(var(--form-hover), .55);
}

/* #formInput input:read-only {
  background-color: transparent;
  color: var(--gray);
  font-weight: bold;

  letter-spacing: 0.09857em;
} */