@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

  font-family: 'Roboto';
}

:root {
  --white: #FFF;
  --sistem: #F0F0F5;
  --primary: #36393F;
  --rgba-primary: 54, 57, 63;
  --secondary: #2f3136;
  --tertiary: rgb(32,34,37);
  --form: 41, 85, 111;
  --form-hover: 129, 161, 190;
  --quaternary: #292b2f;
  --quinary: #393d42;
  --senary: #828386;
  --gray: #81a1be;
  --link: #1a73e8;
  --background-green:  rgb(15, 157, 88, .15);
  --green-google: #0f9d58;
  --background_link: #e8f0fe;
  --error: #f04747;
  --error-rgba: 240, 71, 71;
  --background_error: rgba(240, 71, 71, .15);
  --rocketseat: rgb(102, 51, 204);

  --border: #040405;
  --discord: #7289da;
  --border-hover: #7289da;
  --discor-rgba: 114, 137, 218;
  --olive-green: 85, 107, 47;
  --brown-olive-green: #6b8e23;
  --olive: #808000;
  --bt-discord: #677bc4;
  --text: #dcddde;
  --text-yelow: 244, 199, 20;

  --input: #EEE;
  --siafi: #29556F;
  --yelow-siafi: #f4c714;

  --background-primary: linear-gradient(to top, #505285 0%, #b5aee4 100%);
  --background-primary-hover: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);

  --background-secondary: linear-gradient(to right, #434343 0%, black 100%);
}
body {
  font: 400 14px "Roboto", sans-serif;
  background-image: url('./Assets/fund.png');
  background-repeat: repeat;

  -webkit-font-smoothing: antialiased !important;
  overflow: hidden;
}

a {
  text-decoration: none !important;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;

}

@media only screen and (max-width: 800px) {
  body {
    background: var(--sistem);
  }
}