#document {
  width: 100%;
  height: 100vh;
  display: flex;
  align-self: center;
  flex-direction: column;
  overflow: auto;
}

#document .header-document {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 60px;
  background-color: var(--white);
  padding: 10px 20px;
  position: fixed;
  z-index: 999;
  top: 0;
}

#document .header-document #user {
 box-shadow: none;
}

#document .header-document a {
  color: var(--siafi);
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}


#document .content-table-document {
  width: 100%;
  display: flex;

  gap: 10px;
  padding: 20px 10px;
  padding-top: 70px;

  position: relative;
}

#document .content-table-document .new-documewnt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 600px;
}

#document .content-table-document .documents {
  width: 100%;
  height: 600px;
  min-height: 600px;
  max-height: 600px;

  display: grid;
  grid-template-areas: 
  "header" 
  "document";

  background-color: var(--sistem);
  padding-bottom: 3px;

  border-radius: 4px;
  border: 1px solid rgba(var(--rgba-primary), .24);

  box-sizing: border-box;
  box-shadow: inset 0 0 2px #000000;
}

#document .content-table-document .documents .header-list {
  grid-area: header;
  display: flex;
  align-items: center;

  height: 40px;
  
  background-color: var(--white);

  padding: 10px;
  border-radius: 4px;
  border-bottom: 1px solid rgba(var(--rgba-primary), .24);
  box-shadow: inset 0 0 2px #000000;

}

#document .content-table-document .documents .header-list .content-header-list {
  display:flex;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

#document .content-table-document .documents .header-list .content-header-list .data-list {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

#document .content-table-document .documents .header-list .content-header-list .data-list a:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--error);
  background-color: rgba(var(--error-rgba), 0.2);
  
  padding: 2px 10px;
  border-radius: 12px;
  border: 1px solid rgba(var(--error-rgba), 0.4);
  
  font-size: 10px;

  box-sizing: border-box;
  -webkit-box-shadow: 0 0 10px rgba(var(--error-rgba), .12), 0 0 10px rgba(var(--error-rgba), .24);
}

#document .content-table-document .documents .header-list .content-header-list span,
#document .content-table-document .documents .header-list .content-header-list a {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--quinary);

  cursor: pointer;
}

#document .content-table-document .documents .header-list .content-header-list a {
  color: var(--link);
  transition: color .5s ease;
}

#document .content-table-document .documents .header-list .content-header-list a:hover {
  color: var(--discord);
}

#document .content-table-document .documents .content-document {
  grid-area: document;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(6, 16.5%);

  gap: 4px;

  padding: 4px;

  height: 555px;
  max-height: 555px;
  min-height: 555px;
  overflow-y: auto;
  overflow-x: hidden;

  border-radius: 4px;

  box-sizing: border-box;
}

#document .content-table-document .loading {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;
}

#document .content-table-document .loading .content-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 10px;
  
  padding: 20px;

  background-color: var(--white);

  border-radius: 4px;
  border: 1px solid rgba(var(--discor-rgba), .34);
}

#document .content-table-document .loading .content-loading span  {
  color: var(--text);
  
  font-weight: bold;
  
  padding: 1px 10px;
  background-image: var(--background-primary);
  border-radius: 4px;

  font-size: 11px;
}

#document .content-table-document .card-new-document,
#document .content-table-document .documents .content-document .card-document {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
	border-radius: 4px;
  width: 100%;

  min-width: 250px;
  height: 290px;
  padding: 10px;

  text-transform: uppercase;
  align-self: stretch;

  transition: background-color 0.9s;
  cursor: pointer;

  position: relative;
  box-sizing: border-box;
}

#document .content-table-document .documents .card-document  .description {
  width: 100%;
  height: 60px;

  overflow: hidden;

  box-shadow: inset 0 0 2px #000000;
  background-color: var(--white);

  border-radius: 4px;

  padding: 10px;

  font-size: 12px;
  animation: moveleftBottom 1s;

  transition: background-color 0.9s;

  resize: vertical;
}

@keyframes moveleftBottom {
  0%   {width: 0%; height: 0px; }
  100% {width: 100%; height: 60px;}
}

#document .content-table-document .documents .card-document  .description p {
  font-weight: bold;
  color: var(--focus-primary);
  transition: color 0.9s;
}

#document .content-table-document .card-new-document {
  box-shadow: inset 0 0 2px #000000;
  border: 1px solid rgba(var(--rgba-primary), .24);
}


#document .content-table-document .card-new-document {
  justify-content: center;
  align-items: center;
  background-color: var(--sistem);
  gap: 10px;
}

#document .content-table-document .card-new-document span {
  color: var(--senary);
  font-weight: bold;
}

#document .content-table-document .documents .card-document a {
  position: absolute;

  height: 20px;
  width: 20px;
  padding: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary);
  color: var(--discord);
  border-radius: 50%;

  right: 10px;
  top: 10px;

  transition: width .5s, border-radius .5s, background-color 0.9s;

  font-weight: bold;
}

#document .content-table-document .documents .card-document:hover a {
  width: 60px;
  background-color: var(--white);
  border-radius: 12px;
}

#document .content-table-document .documents .card-document:hover .description {
  background-color: var(--primary);
}

#document .content-table-document .documents .card-document:hover .description p {
  color: var(--error);
}
#document .content-table-document .documents .card-document:hover a::before {
  content: 'Editar';

  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 4px 10px; 
  
  font-size: 11px;
  text-transform: capitalize;
  
  position: absolute;
  text-transform: uppercase;
}

#document .content-table-document .documents .card-document:hover {
  background-color: var(--secondary);
  z-index: 1000;
}

#document .content-table-document .documents .card-document:hover h1 {
  color: var(--sistem);
  transition: 0.9s;
}
#document .content-table-document .documents .card-document h1 {
  color: var(--siafi);
  font-size: 46px;
  width: 220px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;

  font-weight: bold;
}


#document .content-table-document .documents .card-document b {
  width: 100%;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;

  color: var(--senary);
}

#document .content-table-document .documents .card-document b + p {
  margin-top: 10px;
}
#document .content-table-document .documents .card-document span {
  color: var(--discord);
  font-weight: bold;
}
#document .content-table-document .documents .card-document p {
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 1.5;

  color: var(--gray);
}

#document .content-table-document .documents .card-document p, span, b{
  letter-spacing: 0.09857em
}



#document .new-document {
  position: absolute;
  width: 100%;
  height: calc(100% - 61px);
  display: flex;
  justify-content: space-between;

  top: 60px;
  bottom: 0;
}

#document .new-document .form-document {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  position: fixed;
  background-color: var(--white);
}

#document .new-document .form-document h3,
#document .new-document .form-document span {
  color: var(--gray);
  align-self: flex-start;

  letter-spacing: normal;
}

#document .new-document .form-document span {
  color: var(--yelow-siafi);
}

#document .new-document .form-document form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  position: relative;
  background-color: transparent;

  border-radius: 4px;
}

#document .new-document .form-document form .response-req {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--discord);
  font-size: 14px;
  background-color: rgba(var(--discor-rgba), 0.2);
  padding: 6px 10px;
  border-radius: 4px;
  font-weight: bold;

  margin: 6px 0;
  border: 1px solid rgba(var(--discor-rgba), 0.4);
} 

#document .new-document .form-document form .content-input {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  gap: 10px;
}

#document .new-document .form-document form .content-input span {
  color: var(--senary);
}

#document .new-document .form-document form .content-input #formInput {
  max-width: 200px;
}


#document .new-document .form-document form button {
  width: 100%;
  max-width: 200px;
  height: 44px;

  line-height: 24px;

  margin: 8px 0;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 14px;
  border: 2px solid rgba(var(--discor-rgba), .15);

  padding: 2px 16px;

  background-color: rgba(var(--discor-rgba), 0.45);
  color: var(--discord);

  text-transform: uppercase;

  border-radius: 4px;
  cursor: pointer;

  transition: background-color 0.5s ease, color 0.5s ease;
}

#document .new-document .form-document form button:hover {
  border: 1px solid rgba(var(--discor-rgba), .55);
  background-color: rgba(var(--discor-rgba), 0.70);
  color: var(--white);
}

#document .new-document .form-document .close {
  position: absolute;
  top: 10px;
  right: 10px;

  padding: 2px 10px;
  background-color: var(--white);

  border-radius: 16px;
  cursor: pointer;
  font-weight: bold;
  color: var(--senary);
}

#document .new-document .form-document,
#document .header-document,
#document .content-table-document .documents .card-document {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#document .content-table-document .loading .content-loading,
#document .new-document .form-document form .response-req {
  -webkit-box-shadow: 0 0 10px rgba(var(--discor-rgba), .12), 0 0 10px rgba(var(--discor-rgba), .24);
  -moz-box-shadow: 0 0 10px rgba(var(--discor-rgba), .12), 0 0 10px rgba(var(--discor-rgba), .24);
  -ms-box-shadow: 0 0 10px rgba(var(--discor-rgba), .12), 0 0 10px rgba(var(--discor-rgba), .24);
  -o-box-shadow: 0 0 10px rgba(var(--discor-rgba), .12), 0 0 10px rgba(var(--discor-rgba), .24);
  box-shadow: 0 0 10px rgba(var(--discor-rgba), .12), 0 0 10px rgba(var(--discor-rgba), .24);
}

@media only screen and (max-width: 800px) {
  #document .content-table-document {
    display: flex;
    flex-direction: column;
  }

  #document .content-table-document .documents {
    display: flex;
    flex-direction: column;

    gap: 10px;

    padding: 0;
    border: none;
  }
  #document .content-table-document .card-new-document,
  #document .content-table-document .documents .card-document,
  #document .content-table-document .documents .card-document h1,
  #document .content-table-document .documents .card-document b,
  #document .new-document .form-document form button,
  #document .new-document .form-document form .content-input #formInput {
    width: 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 2320px) {
  #document .content-table-document .documents .content-document {
    grid-template-columns: repeat(5, 19.8%);
  }
}

@media only screen and (max-width: 1930px) {
  #document .content-table-document .documents .content-document {
    grid-template-columns: repeat(4, 24.6%);
  }
}

@media only screen and (max-width: 1470px) {
  #document .content-table-document .documents .content-document {
    grid-template-columns: repeat(3, 32.6%);
  }
}

@media only screen and (max-width: 1120px) {
  #document .content-table-document .documents .content-document {
    grid-template-columns: repeat(2, 48.6%);
  }
}

@media only screen and (max-width: 840px) {
  #document .content-table-document .documents .content-document {
    grid-template-columns: repeat(1, 100%);
  }
}