#document {
  width: 100%;
  height: 100vh;
  display: flex;
  align-self: center;
  flex-direction: column;
  overflow: auto;
}

#document .header-document {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 60px;
  background-color: var(--white);
  padding: 10px 20px;
  position: fixed;
  z-index: 999;
  top: 0;
}

#document .header-document a {
  color: var(--siafi);
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}


#document .content-table-document {
  width: 100%;
  display: flex;

  gap: 10px;
  padding: 20px 10px;
  padding-top: 70px;

  justify-content: space-between;
  align-content: space-around;
  flex-wrap: wrap;

  position: relative;
}

#document .content-table-document .card-new-document,
#document .content-table-document .card-document {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
	border-radius: 4px;
  width: 100%;
  max-width: 250px;
  padding: 10px;

  text-transform: uppercase;
  align-self: stretch;

  transition: background-color 0.9s;
  cursor: pointer;

  position: relative;
}

#document .content-table-document .card-new-document {
  justify-content: center;
  align-items: center;
  background-color: var(--sistem);
  gap: 10px;
}

#document .content-table-document .card-new-document span {
  color: var(--senary);
  font-weight: bold;
}

#document .content-table-document .card-document::before {
  position: absolute;
  content: '';
  padding: 10px;

  background-color: var(--secondary);
  transition: background-color 0.9s;
  border-radius: 50%;

  right: 10px;
  top: 10px;
}
#document .content-table-document .card-document:hover::before {
  background-color: var(--white);
}
#document .content-table-document .card-document:hover {
  background-color: var(--secondary);
}

#document .content-table-document .card-document:hover h1 {
  color: var(--sistem);
  transition: 0.9s;
}
#document .content-table-document .card-document h1 {
  color: var(--siafi);
  font-size: 46px;
  width: 220px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;

  font-weight: bold;
}


#document .content-table-document .card-document b {
  width: 100%;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;

  color: var(--senary);
}

#document .content-table-document .card-document b + p {
  margin-top: 10px;
}
#document .content-table-document .card-document span {
  color: #e2c028;
}
#document .content-table-document .card-document p {
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 1.5;

  color: var(--gray);
}

#document .content-table-document .card-document p, span, b{
  letter-spacing: 0.09857em
}



#document .new-document {
  position: absolute;
  width: 100%;
  height: calc(100% - 61px);
  display: flex;
  justify-content: space-between;

  top: 60px;
  bottom: 0;
}

#document .new-document .form-document {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  position: fixed;
  background-color: var(--white);
}

#document .new-document .form-document h3,
#document .new-document .form-document span {
  color: var(--gray);
  align-self: flex-start;

  letter-spacing: normal;
}

#document .new-document .form-document span {
  color: var(--yelow-siafi);
}

#document .new-document .form-document form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  position: relative;
  background-color: transparent;

  border-radius: 4px;
}

#document .new-document .form-document form .response-req {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--discord);
  font-size: 14px;
  background-color: rgba(var(--discor-rgba), 0.2);
  padding: 6px 10px;
  border-radius: 4px;
  font-weight: bold;

  margin: 6px 0;
  border: 1px solid rgba(var(--discor-rgba), 0.4);
} 

#document .new-document .form-document form .content-input {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  gap: 10px;
}

#document .new-document .form-document form .content-input span {
  color: var(--senary);
}

#document .new-document .form-document form .content-input #formInput {
  max-width: 200px;
}


#document .new-document .form-document form button {
  max-width: 200px;
	border-radius: 2px;
	border: 1px solid var(--senary);
	background-color: var(--senary);
	color: var(--white);
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;

  margin: 20px 0;
}

#document .new-document .form-document .close {
  position: absolute;
  top: 10px;
  right: 10px;

  padding: 2px 10px;
  background-color: var(--white);

  border-radius: 16px;
  cursor: pointer;
  font-weight: bold;
  color: var(--senary);
}

#document .new-document .form-document,
#document .header-document,
#document .content-table-document .card-new-document,
#document .content-table-document .card-document {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#document .new-document .form-document form .response-req {
  -webkit-box-shadow: 0 0 10px rgba(var(--discor-rgba), .12), 0 0 10px rgba(var(--discor-rgba), .24);
  -moz-box-shadow: 0 0 10px rgba(var(--discor-rgba), .12), 0 0 10px rgba(var(--discor-rgba), .24);
  -ms-box-shadow: 0 0 10px rgba(var(--discor-rgba), .12), 0 0 10px rgba(var(--discor-rgba), .24);
  -o-box-shadow: 0 0 10px rgba(var(--discor-rgba), .12), 0 0 10px rgba(var(--discor-rgba), .24);
  box-shadow: 0 0 10px rgba(var(--discor-rgba), .12), 0 0 10px rgba(var(--discor-rgba), .24);
}

@media only screen and (max-width: 500px) {
  #document .content-table-document .card-new-document,
  #document .content-table-document .card-document,
  #document .content-table-document .card-document h1,
  #document .content-table-document .card-document b,
  #document .new-document .form-document form button,
  #document .new-document .form-document form .content-input #formInput {
    width: 100%;
    max-width: 100%;
  }
}